**/*.bench.*
**/*.local.*
**/.*secrets*
**/.env
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
*.db
*.egg-info/
*.idea
*.py[cod]
*.so
*.sqlite
*.sqlite-shm
*.sqlite-wal
databases/
dist/
frontend-*/
logs/
