@echo off

call activate

set PYTHONPATH={% for package in packages %}.\{{ package }};{% endfor %}%PYTHONPATH%

echo.
echo Bump versions for all packages
@python -m tools.cl.runtime.bump_package_versions
