#!/bin/bash

source activate

export PYTHONPATH="{% for package_dir in package_dirs %}./{{ package_dir }}:{% endfor %}$PYTHONPATH"

echo ""
echo "Bump versions for all packages"
python -m tools.cl.runtime.bump_package_versions
