@echo off

call activate

set PYTHONPATH={% for package_dir in package_dirs %}.\{{ package_dir }};{% endfor %}%PYTHONPATH%
set "dirs={% for package_dir in package_dirs %}{{ package_dir }}{% if not loop.last %} {% endif %}{% endfor %}"

echo.
echo Run tests in each package
for %%d in (%dirs%) do (
    echo Running scripts in %%d
    pytest %%d\tests
)

