{% for line in package_copyright.split('\n') %}{% if line %}# {{ line }}
{% else %}#
{% endif %}{% endfor %}
import locate # isort: skip - must remain at the top
locate.append_sys_path("../..") # isort: skip - must remain at the top
locate.append_sys_path("../../../../runtime") # isort: skip - must remain at the top

# Use noqa to prevent linters from removing the imports
from cl.runtime.qa.pytest.pytest_fixtures import basic_mongo_db_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import basic_mongo_mock_db_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import celery_queue_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import configure_logging_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import default_db_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import event_broker_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import multi_db_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import sqlite_db_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import tenant_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import type_info_fixture  # noqa
from cl.runtime.qa.pytest.pytest_fixtures import work_dir_fixture  # noqa
