[tool.autoflake]
recursive = true
in-place = true
remove-all-unused-imports = true
ignore-init-module-imports = true
exclude = [".venv", ".git", "__pycache__"]

[tool.black]
line-length = 120
include = '\.pyi?$'
target-version = ['py311']
force-exclude = '''
/(
    \.idea
  | \.git
  | \.mypy_cache
  | \.pytest_cache
  | \.tox
  | \.venv
  | __pycache__
  | _build
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 120
ensure_newline_before_comments = true
no_sections = false
lines_between_sections = 0
force_single_line = true
skip = ["__init__.py"]
known_pytest = ["pytest"]
{% for entry in isort_known_packages %}{{ entry.key }} = ["{{ entry.value }}"]
{% endfor %}{% for entry in isort_known_stubs %}{{ entry.key }} = ["{{ entry.value }}"]
{% endfor %}sections = [{% for section in isort_sections %}"{{ section }}"{% if not loop.last %}, {% endif %}{% endfor %}]

[build-system]
requires = ["hatchling>=1.21.0"]
build-backend = "hatchling.build"

[tool.pytest.ini_options]
addopts = "-p no:warnings"
asyncio_default_fixture_loop_scope = "function"
pythonpath = ["."]
testpaths = ["tests"]

