#!/bin/bash

source ./activate.sh

echo ""
echo "Remove unused imports using autoflake"
autoflake cl --check --quiet
autoflake cl --in-place
autoflake stubs --check --quiet
autoflake stubs --in-place
autoflake tests --check --quiet
autoflake tests --in-place

echo ""
echo "Format using isort"
isort cl
isort stubs
isort tests

echo ""
echo "Format using black"
black -q cl --config=pyproject.toml
black -q stubs --config=pyproject.toml{% if formatter_exclude_files %} --extend-exclude "{{ formatter_exclude_files | join('|') }}"{% endif %}
black -q tests --config=pyproject.toml

echo ""
echo "Fix docstring formatting using ruff"
ruff check --select D --ignore D100,D101,D102,D103,D104,D105,D106,D107,D200,D202,D203,D205,D212,D213,D301,D400,D401,D402,D403,D404,D410,D411,D413,D415,D417 --fix --unsafe-fixes{% if formatter_exclude_files %} --extend-exclude "{{ formatter_exclude_files | join('|') }}"{% endif %} cl stubs tests
